<div class='container-fluid' data-interval="false">
    <div class='col-12'>
        <ngb-carousel data-interval="false" class="carouselTop" (slide)="onSlide($event)">
            <li *ngFor ="let band of endArray; let i = index">
                <ng-template ngbSlide>

                    <table class="tableBand">
                        <tr>
                            <th
                     class="th1" scope="col">{{endArray[i][0].bandName}}
                                <h4 *ngIf="job1Title; else notShowBlock">{{job1Title}}</h4>
                            </th>
                                <th align="center" scope="col">{{endArray[i][1].bandName}}
                                <h4 *ngIf="job2Title; else notShowBlock">{{job2Title}}</h4>
                            </th>
                                <th align="center" scope="col">{{endArray[i][2].bandName}}
                                <h4 *ngIf="job3Title; else notShowBlock">{{job3Title}}</h4>
                                </th>
                                <ng-template #notShowBlock>
                                  <h4>Unavailable</h4>
                                </ng-template>
                        </tr>
                        <tr>
                            <td>


                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                            <td>


                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                            <td>
                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>