<div class='container-fluid' data-interval="false">
    <div class='col-12'>
        <ngb-carousel data-interval="false" (slide)="onSlide($event)">
            <li *ngFor ="let band of endArray; let i = index">
                <ng-template ngbSlide>

                    <table class="tableBand">
                        <tr>
                            <th class="th1" scope="col">{{endArray[i][0].bandName}}</th>
                            <th align="center" scope="col">{{endArray[i][1].bandName}}</th>
                            <th align="center" scope="col">{{endArray[i][2].bandName}}</th>
                        </tr>
                        <tr>
                            <td *ngFor ="let job of jobs1">
                                <h4>{{job.title}}</h4>
                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                            <td *ngFor ="let job of jobs2">
                                <h4>{{job.title}}</h4>
                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                            <td *ngFor ="let job of jobs3">
                                <h4>{{job.title}}</h4>
                                <p></p>
                                <app-responsibilities></app-responsibilities>
                                <p></p>
                                <app-training-popup></app-training-popup>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>