<div class="login-page">
  <div class="form">

<form (ngSubmit) ="login(loginForm)" #loginForm ="ngForm">
  <div class="login">
  <div><label for="username"><b>Username</b></label><input [(ngModel)]="newUser.username" name="username" placeholder="Username" required></div>
  <div><label for="userPassword"><b>Password</b></label><input type="password" [(ngModel)]="newUser.userPassword" name="userPassword" placeholder="password" required></div>
  <input type="submit" name="saltPassword" value="Login" [disabled]="!loginForm.valid">
  </div>
</form>
<a href="/forgot-password">Forgotten your password?</a>
</div>
</div>
