/* You can add global styles to this file, and also import other style files */
.carousel1_br{
  vertical-align: bottom;
}
@import '~bootstrap/dist/css/bootstrap.css';
.page-header {
    margin-top: 0;
  }

  div.container-fluid{
    padding: 0;
  }

  button:focus {outline:0;}

  .bodyMain
  {
    padding-left: 2%;
    padding-right: 2%;
  }

  div.col-12{
    padding: 0;
  }

  .hr-page-top {
    background: linear-gradient(to right, #61a83f , #283583);
    height: 8%;
    margin-bottom: 3%;
  }

  .hr-page-bottom {
    height: 8%;
    padding-bottom: 10%;
  }

  ngb-tabset ul.nav-tabs li a.nav-link.active {
    background-color: #009fe3;
    color: white;
  }

  ngb-tabset ul.nav-tabs li a.nav-link {
    background-color: #eeeeee;
    border-left: 1px solid rgb(158, 158, 158);
    border-right: 1px solid rgb(158, 158, 158);
    padding: 10px;
    color: #009fe3;
  }

  .column {
    float: left;
    width: 50%;
  }

  h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .header-careers {
    color: #61a83f;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 10%;
    font-size: 360%;
  }

  .topLeftIcon{
    width: 20%;
  }

  .topRightIcon{
    width: 20%;
  }

  .bottomLeftIcon{
    width: 20%;
  }

  .bottomRight{
    width: 20%;
  }

  .tableBand {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70.55%;
    margin-left: 14.75%;
    table-layout: fixed
  }


    .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #009fe3;
      color: white;
      text-align: center;
      height: 5%;
    }


  .th1{
    text-align: center;

  }

  .tableBand td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .jobName{
    color: white;
  }
  .jobName:hover{
    color: rgb(0, 225, 255);
  }

  .tableBand tr:nth-child(even){background-color: white;}

  .tableBand tr:hover {background-color: white;}

  .tableBand th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #61a83f;
    color: white;
    height: 340px;
  }

  .carousel-indicators li{
    visibility: hidden;
  }

  .centralWrap{
    text-align: center;
    background-color: transparent;
  }

  button:focus {
    outline:none;
    box-shadow: none;
  }

  .buttonTable{
      margin:auto;
      display:block;
      background-color: #009fe3;
      min-width: 60%;
      color: white;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 25px;
      outline:none;
      box-shadow: none;
      box-shadow: none !important;
  }

  .buttonTable:focus {outline:0 !important;}
  .carouselTop:focus {outline:0 !important;}



