<div class="login-page">
  <div class="form">

<form (ngSubmit) ="print()">
  <div class="login">
  <div><label for="oldPassword"><b>Old password</b></label><input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Old password" required></div>
  <div><label for="newPassword"><b>New password</b></label><input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New password" required></div>
  <input type="submit" name="changePassword" value="Change password">
  </div>
</form>
</div>
</div>
