<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Training</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4>Type</h4>
        <hr>
        <h4>Description</h4>
        <hr>
        <h4>Link</h4>
        <hr>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
</ng-template>


<div (click)="open(content)" ;>
    <h4 *ngIf="job1Title; else notShowBlock" (click)="showSummary($event)">{{job1Title}}
    </h4>
</div>
<pre>{{closeResult}}</pre>