<!DOCTYPE html>
<html>

<body>

    <div class="row">
        <div class="column" style="width:60%">
            <input class="filter" [(ngModel)]="filterText" placeholder="Filter" />
            <table id="table1">
                <thead>
                    <tr>
                        <th>Job Roles</th>
                    </tr>
                </thead>
                <tbody align="center" (click)="onClick()">
                    <li style="list-style-type:none" *ngFor="let title of titles|jobRoleTitle:filterText"
                        (click)="onSelect(title)">
                        <tr>{{title.title}} - {{bandList[title.bandId]}} </tr>
                    </li>
                </tbody>
            </table>
        </div>
        <div class="column" style="width:40%; float:right;">
            <div class="divBox">
                <h2 class="center">Details</h2>
                <h4 class="left">Responsibilties:</h4>
                <p>
                        no harm but thomas is fat
                </p>
                <h4 class="left">Responsibilties:</h4>
                <p>
                        no harm but thomas is fat
                </p>
                <h4 class="left">Responsibilties:</h4>
                <p>
                        no harm but thomas is fat
                </p>
            </div>
        </div>
    </div>
</body>

</html>
