<table class="tableBand">
        <tr>
            <th class="th1" scope="col">Apprentice</th>
            <th align="center" scope="col">Trainee</th>
            <th align="center" scope="col">Associate</th>
        </tr>
        <tr>
            <td>
                <app-responsibilities></app-responsibilities>
                <p></p>
                <app-training-popup></app-training-popup>
            </td>
            <td>
                <app-responsibilities></app-responsibilities>
                <p></p>
                <app-training-popup></app-training-popup>
            </td>
            <td>
                <app-responsibilities></app-responsibilities>
                <p></p>
                <app-training-popup></app-training-popup>    
            </td>
        </tr>
    
</table>