<!DOCTYPE html>
<html>
<header class = "page-header">

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<div class="row">
  <div class="column"><img style="padding: 25px 25px 0px 25px;" src = 'assets/Kainos_800x250_Logo_(Transparent_BG).png' width="50%"/></div>
  <div class="column"><h1 class="header-careers">CAREERS</h1></div>
</div>

<hr class="hr-page-top">
</header>

<router-outlet></router-outlet>

<div class="footer">
<img src='assets/flux.jpg' width="100%"/>
</div>

</html>
