<div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title" mat-dialog-title>Training</h3>
    <button type="button" class="close" aria-label="Close" (click)="onExit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" mat-dialog-content *ngFor="let training of data.data">
      <h4>Title: {{ training.title }}</h4>
      <hr>
      <h4>Description</h4>
      <p>{{ training.trainingDescription }}</p>
      <hr>
      <h4>Type</h4>
      <p>{{ training.trainingType }}</p>
      <hr>
      <h4>Link</h4>
      <p>{{ training.link }}</p>
      <hr>
  </div>
  <div class="modal-footer" mat-dialog-actions>
    <button type="button" class="btn btn-outline-dark" (click)="onExit()">Close</button>
  </div>
