<div class='container-fluid' data-interval="false">
    <div class='col-12'>
        <ngb-carousel data-interval="false">
            <ng-template ngbSlide>
              <p> {{ capabilities[0] }} </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> {{ capabilities[1] }} </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> {{ capabilities[2] }} </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> {{ capabilities[3] }} </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> {{ capabilities[4] }} </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> {{ capabilities[5] }} </p>
            </ng-template>
        </ngb-carousel>
    </div>

</div>
