<div class='container-fluid' data-interval="false">
    <div class='col-12'>
        <ngb-carousel data-interval="false" (slide)="onSlide($event)" #c="ngbCarousel">
            <ng-template ngbSlide>
              <p> Sales and Marketing </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> Technical </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> Consulting </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> Experience Design </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> Management </p>
            </ng-template>
            <ng-template ngbSlide>
              <p> Central Services Teams </p>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
